<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="text-center">Welcome Admin,</h1>
        <h3 class="text-center">You can add, edit and delete categories here.</h3>
        <a class="btn btn-lg btn-base" href="/">Go hard or go home</a>
        <a class="btn btn-lg btn-brand" href="/categories/new">Add a category</a>
        <div class="divider divider-clear"></div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Category</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <td><%= category[:id] %></td>
              <td><a href="/categories/<%= category[:id] %>"><%= category[:category] %></a></td>
              <td class="text-right">
                <a class="" href="/categories/<%= category[:id] %>/edit">Edit</a>
                <form action="/categories/<%= category[:id] %>" id="delete-category" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Delete" name="_method" class="">
                </form>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
