<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="text-center">Welcome Admin,</h1>
        <h3 class="text-center">You can add, edit and delete users here.</h3>
        <a class="btn btn-lg btn-base" href="/">Go hard or go home</a>
        <a class="btn btn-lg btn-brand" href="/users/new">Add a nigga</a>
        <div class="divider divider-clear"></div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Address</th>
              <th>Date Created</th>
              <th>Date Modified</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user[:id] %></td>
              <td><a href="/users/<%= user[:id] %>"><%= user[:name] %></a></td>
              <td><%= user[:address] %></td>
              <td><%= user[:created_at] %></td>
              <td><%= user[:updated_at] %></td>
              <td class="text-right">
                <a class="" href="/users/<%= user[:id] %>/edit">Edit</a>
                <form action="/users/<%= user[:id] %>" id="delete-user" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Delete" name="_method" class="">
                </form>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
